.ItemButtons {
    display: flex;
    justify-content: space-between;
    background-color: rgb(243, 227, 138);
    padding: 10px;
}

.itemCountButton {
    width: 40px;
    background-color: rgb(255, 255, 255);
}

.ItemCount>p {
    color: rgb(0, 0, 0);
    background-color: rgb(194, 176, 77);
    align-items: center;
}