.ItemCount {
    margin-left: 10%;
}

.ItemButtons {
    width: 200px;
    display: flex;
    justify-content: space-between;
    background-color: #d2d9df;
    border: 1px solid #2185d0;
    padding: 10px;
    border-radius: 4px;
}

.itemCountButton {
    font-size: 20px;
    width: 40px;
    background-color: #2185d0;
    color: white;
    border: 1px solid #2185d0;
    border-radius: 3px;
}

.itemCountButton:hover {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: white;
    color: black;
    border: 1px solid white;
    transition: 0.5s ease;
}

.ItemCount>p {
    align-items: center;
}