.main-card {
    width: 70%;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.secondary-card {
    display: flex;
    align-items: center;
}

.cartImage {
    margin-right: 15vh;
    min-width: 200px;
}

.itemDescription {
    max-width: 200px;
}

.cartPrice {
    font-size: 18px;
    margin-left: 5vh;
}